<!doctype html>
<html lang="en">
  <head>
    <!-- Meta etiquetas necesarias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Confirmación de Registro</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registro Exitoso</h5>
          <p class="card-text">Gracias por registrarte. Aquí están los detalles de tu registro:</p>
          <ul>
            <li><strong>RUT:</strong> {{ rut }}</li>
            <li><strong>Nombre Completo:</strong> {{ nombre_completo }}</li>
            <li><strong>Dirección:</strong> {{ direccion }}</li>
            <li><strong>Teléfono:</strong> {{ telefono }}</li>
            <li><strong>Correo Electrónico:</strong> {{ correo_electronico }}</li>
          </ul>
          <a href="{{ url_for('index') }}" class="btn btn-primary">Volver al Inicio</a>
        </div>
      </div>
    </div>
  </body>
</html>
